@import "reset.css";

.wrap {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

.wrap2 {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrap2 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


/*/ HEADER /*/

nav {
    width: 100%;
    background-color: #0C0C3C;
    overflow: auto;
    position: fixed;
    z-index: 1;
    opacity: 100%;
}

nav a .logo {
    float: left;
    width: 20%;
    height: auto;
}

nav li a {
    float: right;
    text-align: center;
    color: #5FC6DA;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.4vw;
    width: 10%;
    vertical-align: middle;
    margin-top: 3%;
}

nav li a:hover {
    transition: 0.5s;
    color: #8CF0FF;
}

/*/ HOME /*/
#presentation_home {
    color: white;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom right, #0e0838, #371377);
    padding-top: 100px;
}

#presentation_home .home1 {
    float: left;
    width: 45%;
    margin-top: 100px;
    margin-left: 2%;
    margin-bottom: 20px;
}

#presentation_home .home2 {
    float: right;
    width: 45%;
    margin-right: 2%;
}

#presentation_home h2 {
    font-size: 4vw;
}

#presentation_home p {
    font-size: 2vw;
    width: 100%;
}

#presentation_home img {
    padding-top: 80px;
    width: 90%;
}

#presentation_home button {
    padding: 15px 15px;
    border-radius: 12px;
    border: none;
    background-color: #5FC6DA;
    float: left;
    font-size: 1.2vw;
}

#presentation_home button:hover {
    transition: 0.5s;
    background-color: #8CF0FF;
}

#presentation_home .services {
    margin-left: 5%;
}

#presentation_home .contact {
    margin-left: 5%;
}


#choose_home {
    background: linear-gradient(to bottom left, #371377, #0e0838);
    padding-top: 250px;
    color: white;
    width: 100%;
    height: 700px;
}

#choose_home h2 {
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#choose_home .bar {
    background-color: grey;
    width: 70%;
    height: 1px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#choose_home .element_1 {
    border-radius: 25%;
    width: 25%;
    padding: 20px 0;
    float: left;
    margin-left: 15%;
}

#choose_home .element_1:hover {
    transition: 0.4s;
    background-color: #5FC6DA;
    border-radius: 25%;
}

#choose_home .element_2 {
    border-radius: 25%;
    padding: 20px 0;
    width: 25%;
    float: right;
    margin-right: 15%;
}

#choose_home .element_2:hover {
    transition: 0.2s;
    background-color: #5FC6DA;
    border-radius: 25%;
}

#choose_home img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

#choose_home img :hover {
    color: black
}

#choose_home h3 {
    text-align: center;
    font-size: 2vw;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

#choose_home p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    font-size: 1.2vw;
}


#service_home {
    padding-top: 50px;
    color: #0e0838;

}

#service_home h2 {
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#service_home .imgfree {
    width: 15%;
    float: right;
    margin-right: 20%;
}

#service_home .imgsub {
    width: 15%;
    float: left;
    margin-left: 20%;
    margin-bottom: 50px;
}

#service_home .text2 {
    position: absolute;
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-top: 30px;

}

#service_home .text3 {
    position: absolute;
    float: right;
    width: 40%;
    margin-left: 50%;
}

#service_home h3 {
    font-size: 2vw;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-weight: bold;
}

#service_home p {
    margin-bottom: 10px;
    font-size: 1.2vw;
}

#service_home li {
    margin-bottom: 5px;
    font-style: italic;
    font-size: 1.2vw;

}

#service_home i {
    color: #4cae4c;
    margin-right: 5px;
}

#service_home .subscribe {
    padding-top: 100px;
}

#service_home a {
    color: #0e0838;
}


/*/ Qui somme nous /*/
#groupe1 {
    background: linear-gradient(to bottom left, #371377, #0e0838);
    padding-top: 150px;
    color: white;
    width: 100%;
    height: 800px;
    max-height: 800px;
}
.qui {
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#groupe1 .bar {
    background-color: grey;
    width: 70%;
    height: 1px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
#groupe1 .gauche {
    width: 40%;
    float: left;
    margin-left: 5%;
}
#groupe1 .gauche #titreblabla {
    text-align: center;
    font-size: 2vw;
    letter-spacing: 5px;
    margin-bottom: 5px;
    width: 100%;
}
#groupe1 .gauche p {
    text-align: center;
    font-size: 1.2vw;
}


#rj45 {
    float: right;
    width: 40%;
    margin-right:5% ;
}
.team{
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 50px;
    color: #0c0c3c;
}

#equipe {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

#equipetitre {
    text-align: center;
    color: #3071a9;
    font-size: 2em;
    padding-top: 50px;
    margin-bottom: 50px;
}

#etienne {
    width: 20%;
    margin-left: 14%;
    border-radius: 50%;
}

#thibault {
    width: 20%;
    margin-left: 5%;
    border-radius: 50%;
}

#victor {
    width: 20%;
    margin-left: 5%;
    border-radius: 50%;
}

#groupe2{
    background-color: #0c0c3c;

}

#serv {
    float: left;
    width: 50%;
}

#axel {
    border-radius: 50%;
    width: 50%;
    margin-left: 25%;
}

#float {
    float: right;
    width: 50%;
}

#blabla3 {
    text-align: center;
    color: #fff;
    font-size: 1.2vw;
}

#support {
    text-align: center;
    font-size: 2em;
    color: #0C0C3C;
    margin-top: 50px;
}

#logon {
    width: 20%;
    margin-left: 40%;
}

/*/ Qui sommes nous /*/

table {
    margin-top: auto;
    border: 1px #000 solid;
    width: 95%;
}

td, th {
    border: 1px #000 dotted;
    padding: 5px 10px;
}

thead td {
    background-color: #000;
    color: #FFF;
    font-weight: bold;
}

/*/ Formulaire de contact /*/

.formulaire2 .error {
    text-align: center;
    font-size: 15px;
    color: red;
}
.formulaire2 .success {
    text-align: center;
    font-size: 30px;
    padding-top: 180px;
    color: green;
}
.formulaire2 .howto {

    padding-top: 10%;
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0e0838;
    margin-bottom: 50px;
}
.backform textarea {
    padding: 7px 25px;
    width: 55%;
    margin-bottom: 3px;
    font-size: 1.2vw;
    border: #0C0C3C 2px solid;
}
.backform input[type=text].subject {
    padding: 7px 25px;
    width: 45%;
    margin-bottom: 3px;
    font-size: 1.2vw;
    border: #0C0C3C 2px solid;
}

/*.contenu .error {color:red;margin-top: 5px;}*/
/*.contenu .success {font-size:1.5em;color:green;}*/
#accordion {
    padding-bottom: 90px;
    text-align: justify;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: justify;
    outline: none;
    font-size: large;
    transition: 0.4s;

}

.active, .accordion:hover {
    background-color: #ccc;
    font-size: large;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: large;
}

.active:after {
    content: "\2212";
    font-size: large;
}
.accordion .num {

}


.faq {
    font-size: 48px;
    line-height: 55px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.panel {
    padding: 0px 18px;
    margin-top: 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: large;
}


/*/ MAP /*/
#mapid {
    height: 150px;
    width: 150px;
}
/*/ SERVICES/*/
h1.service{
    padding-top: 10%;
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0e0838;
    margin-bottom: 50px;
}
.err {
    padding-top: 120px;
    text-align: center;
}
.upload{
    padding-bottom: 10%;
}



/*/ CONNEXION-INSCRIPTION /*/
form {
    text-align: center;
    color: #0C0C3C;
}


.formulaire {
    padding-top: 10%;
    text-align: center;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0e0838;
    margin-bottom: 50px;
}

.backform {

    width: 60%;
    box-shadow: 0px 0px 20px #080825;
    border: #0C0C3C 2px solid;
    margin: 0 auto;
    margin-bottom: 5%;
}
.backform form .login {
    display: block;
    width: 100%;
    color: #0C0C3C;
    text-transform: uppercase;
    padding-top: 8%;
    font-size: 1.4vw;
}
.backform form label {
    display: block;
    width: 100%;
    color: #0C0C3C;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 1.4vw;
}

.backform input[type=text] {
    padding: 7px 25px;
    width: 35%;
    margin-bottom: 3px;
    font-size: 1.2vw;
    border: #0C0C3C 2px solid;
}

.backform input[type=email] {
    padding: 7px 25px;
    width: 35%;
    margin-bottom: 3px;
    font-size: 1.2vw;
    border: #0C0C3C 2px solid;
}

.backform input[type=password] {
    padding: 7px 25px;
    width: 35%;
    margin-bottom: 3px;
    font-size: 1.2vw;
    border: #0C0C3C 2px solid;
}

.backform p {
    margin-bottom: 30px;
    color: red;
}

.backform .submit {
    display: block;
    margin: 0 auto;
    padding: 15px 15px;
    border-radius: 12px;
    border: none;
    background-color: #5FC6DA;
    font-size: 1.2vw;
}

.backform .submite {
    display: block;
    margin: 0 auto;
    padding: 15px 15px;
    border-radius: 12px;
    border: none;
    background-color: #5FC6DA;
    font-size: 1.2vw;
    margin-bottom: 10%;
}

.backform .submit:hover {
    transition: 0.5s;
    background-color: #8CF0FF;
}
.backform .submite:hover {
    transition: 0.5s;
    background-color: #8CF0FF;
}
.backform .forgot {
    color: #0C0C3C;
    width: 100%;
    display: block;
    margin-top: 5px;
    padding-bottom: 50px;
    font-size: 1.2vw;
}

/*/FOOTER /*/
footer {
    width: 100%;
    background-color: #0C0C3C;
}

footer .colonne1 {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 2%;
}

footer .colonne2 {
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 2%;
}

footer h4 {
    font-size: 1.6vw;
    margin-bottom: 10px;
}

footer .colonne1 i {
    color: #5FC6DA;
}

footer .colonne1 li {
    display: inline;
    margin: 0 3%;
    color: #5FC6DA;
    font-size: 2.5vw;
}

footer .colonne2 li {
    color: #5FC6DA;
    font-size: 1.4vw;
}

footer .scroll i {
    float: left;
    font-size: 3vw;
    margin-left: 10%;
    border-radius: 50%;
    border: 1px black solid;
    color: black;
}


footer .barfooter {
    width: 100%;
    margin-top: 15px;
}

footer .barfooter ul {
    text-align: center;
}

footer .barfooter li {
    display: inline;
    font-size: 1.4vw;
}

footer .barfooter .item {
    margin: 0 2%;
    color: #5FC6DA;
}

footer .barfooter p {
    font-size: 1.2vw;
    color: #FFF;
    text-align: center;
    display: inline;
    width: 100%;
}
footer h4 {
    color: #FFF;
}
#Slash {
    color: #FFF;
}

i.material-icons {
    color: #FFF;
}
